.social-media {
    height: 33px;
    width: 141px;
    color: #3C4857;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 33px;
  }
  .social{
    margin-left: 91px;
    display: flex;
  }
  .social-num{
    margin-top: 26px;
    margin-left: 13px;
    border-radius: 50%;
    background-color: #0E85FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 23px;
  }
  .arrow-img{
    margin-top: 30px;
    margin-left: 21px;
  }

  .grid-Flex{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.site-Container{
    margin-top: 20px;
    margin-right: 20px;
    height: 115px;
    width: 363px;
    border-radius: 14px;
    background-color: #F5F7FB;
    box-shadow: 0 8px 18px 10px rgba(0,0,0,0.02);
    display: flex;
    flex-direction: column;
}
.site-Head{
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
}
.site-Icon{
    height: 50px;
    width: 50px;
    margin: 10px 0 0 20px;
}
.site-Details{
    margin-left: 155px;
    margin-top: 0px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.site-Name{
    width: inherit;
    height: 27px;
    width: 93px;
    color: #0E85FF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    text-align: right;
    margin: 6px 0 5px 24px;
}
.site-Link{
    display: flex;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
    color: #3C4857;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
}
.copy{
    display: flex;
}
.copy-Icon{
    height: 19.8px;
    width: 19.8px;
    margin-right: 10px;
}
.copy-Text{
    height: 17px;
    width: 90px;
    color: #0E85FF;
    font-family: "Open Sans";
    font-size: 12.6px;
    letter-spacing: 0;
    line-height: 17px;
    margin-top: 3px;
}
.socialmob{
    display: none;
}
.grid-box{
    display: flex;
}
.grid-whole-shell{
    margin-top: 45px;
    margin-left: 91px;
    margin-right: 101px;
    display: flex;
    width: 1200px;
    height: auto;
    /* background-color: blue; */
}
.grid-1{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    width: 1200px;
    height:auto;
    /* flex-direction: column; */
    
    
}
.sample{
    width: 20px;
    height: 20px;
    background-color: #F5F7FB;
}


@media screen and (max-width: 500px) {
    .grid-1{
       flex-direction: column;
       width: auto;
    }
    .grid-box{
        display: block;
    }
    .social {
        display: none;
    }
    .socialmob{
        margin-left: 25px;
        display: flex;
    }
    .grid-whole-shell{
        margin-top:0;
        margin-left: 0;
        margin-right:0;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .grid-Flex{
        display: contents;
    }
   
}
