body {
  min-height: 100vh;
}
.outerbody {
  display: flex;
  margin: auto 12%;
}

.sideMenu {
  height: 1024px;
  width: 120px;
  background-color: #2892ff;
  display: flex;
  flex-direction: column;
}
.burger-menu-box {
  height: 22px;
  width: 40px;
  margin: 40px 40px 40px 40px;
}
.topMenu-1 {
  height: 104px;
  width: 80%;
  display: flex;
  justify-content: space-between;

}
.symbol-bar {
  height: 59.16px;
  width: 47.47px;
  opacity: 0.14;
  transform: scaleY(-1);
  background-color: #c1deff;
  margin-left: 83px;
  margin-top: 31px;
}
.home-icn {
  height: 39px;
  width: 40px;
  margin: 20px 40px 40px 40px;
}
.logo-box {
  height: 68px;
  width: 179px;
  
}
/* .logo-size {
  height: 59.16px;
  width: 47.47px;
} */
/* .logo-text {
  height: 54px;
  width: 109px;
  color: #0e85ff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 27px;
  margin-left: 13px;
  text-align: center;
} */
.logo-l {
 
  /* border-radius: 4px; */
  /* color: #0e85ff; */
  /* margin-left: 812px;
  margin-top: 17px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.topMenu-1-outer{
    display: flex;
    justify-content: center;
}
.logo-r {

  /* border-radius: 4px; */
  /* margin-left: 20px;
  margin-top: 17px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .profile-img {
  justify-content: center;
}
.sync-img {
  justify-content: center;
} */
.logo-box-r{
    height: 30%;
    width: 20%;
    display: flex;
  justify-content:space-between;

}
.r-btm-mainpage {
  height: 891px;
  width: 1321px;
  background-color: #fafafa;
}
.r-mainpage {
  margin-top: 31px;
}
.topMenu-2 {
  display: flex;
}
.sites {
  height: 41px;
  width: 69px;
  color: #3c4857;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 41px;
  border-bottom: 5px solid #ffa043;
  margin-left: 91px;
  margin-top: 38px;
}
.search {
  height: 24px;
  color: #a5a5a5;
  font-family: "Open Sans";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}
.search-icon-div {
  display: flex;
  flex-direction: column;
  height: 24px;
  background-color: white;
  width: 24px;
}
.search-icn {
  margin-left: 589px;
  margin-top: 46px;
  height: 32px;
  width: 245px;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
.search-bottom {
  height: 1px;
  width: 245px;
  background-color: #0e85ff;
}
.add-btn {
  margin-left: 38px;
  margin-top: 34px;
}
.add-btn-img {
  height: 48px;
  width: 48px;
}
.adds-site {
  height: 215px;
  width: 819px;
  border-radius: 107.5px;
  background-color: #f5f7fb;
  margin-top: 194px;
  margin-left: 251px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.please-click-on-the {
  height: 72px;
  width: 367px;
  color: #3c4857;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
}
.hme-bar {
  height: 80px;
  width: 7px;
  border-radius: 3px;
  background-color: #ffa043;
  margin-top: 40px;
}
.pass-man{
    display: none;
}
.log-out{
    height: 106px;
  width: 203px;
  background-color: rebeccapurple;
  position:absolute;
  margin-top: 0px;
margin-left: 1px;
  /* left: 0px;
  top: 0px; */
  z-index: 1;

}
.logo-box-rmob{
  display: none;
  }
  .topMenu-2mob{
    display: none;
  }
.sideMenu{
  display: none;
}
.sitesmob {
display: none;
}


@media screen and (max-width: 500px) {
body{
  /* height: 620px;
  width: 360px; */


}
.sitesmob {
  height: 41px;
  width: 69px;
  color: #3c4857;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 41px;
  border-bottom: 5px solid #ffa043;
  /* margin-left: 91px; */
  /* margin-top: 38px; */
  display: block;
}

    .outerbody{
        display: flex;
        flex-direction: column;
        
        margin: 0;
      }
      .sideMenu {
        height: 100px;
        min-width: 380px;
        display: flex;
        position: absolute;
    }
.topMenu-1{
 /* height: 80px;
 width:300px;
 position: relative;
 display: flex;
 justify-content: none; */
 display: none;
}
.topMenu-1-outer{
  display: flex;
  align-items: flex-start;
  
}
.logo-box{
    display: none;
 
}
.logo-box-r{
  /* display: flex;
  width: min-content; */
  display: none;
}
.burger-menu-box{
  height: 22px;
  width: 40px;
  margin-top: 40px;
  margin-left: 10px;
}
.logo-l{
    /* margin-left: 40px; */
    
}
.r-mainpage{
    margin-top: 10px;
}
.sites{
    margin-left: 8px;
}
.hme-bar {

display: none;

}
.pass-man{
    /* height: 32px;
    width: 87px; */
    /* display: block; */
    display: block;
    margin: 20px 0px 20px 30px;
}

.logo-box-rmob{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  /* background-color: rgb(146, 137, 137); */
  margin-left: 0;
  position: relative;
}

.topMenu-2{
  display: none;
}
/* .add-btn{
  display: none;
} */
}
.topMenu-2mob{
display: flex;
}